<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Project Flowable', root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? or admin_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-pencil fa-lg"></i>Create
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to '#' do %>
                  <i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;Add User
                <% end -%>
              </li>
              <li>
                <%= link_to '#' do %>
                  <i class="fa fa-truck fa-fw"></i>&nbsp;&nbsp;Add Flowable
                <% end -%>
              </li>
              <li>
                <% if current_admin %>
                  <%= link_to '#' do %>
                    <i class="fa fa-list-ol fa-fw"></i>&nbsp;&nbsp;Add Flow
                  <% end -%>
                <% end -%>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-th-list fa-lg"></i>View
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to '#' do %>
                  <i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;View Users
                <% end -%>
              </li>
              <li>
                <%= link_to '#' do %>
                  <i class="fa fa-inbox fa-fw"></i>&nbsp;&nbsp;View Requests
                <% end -%>
              </li>
              <li>
                <%= link_to '#' do %>
                  <i class="fa fa-truck fa-fw"></i>&nbsp;&nbsp;View Flowables
                <% end -%>
              </li>
              <li>
                <% if current_admin %>
                  <%= link_to '#' do %>
                    <i class="fa fa-list-ol fa-fw"></i>&nbsp;&nbsp;View Flows
                  <% end -%>
                <% end -%>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-cogs fa-lg"></i>Settings</a>
          </li>
<!--           <%= link_to destroy_user_session_path do %>
            <i class="fa fa-sign-out fa-lg"></i>
          <% end -%>
 -->        <% else %>
<!--         <li>
          <%= link_to new_user_session_path, class: 'btn btn-primary' do %>
            <i class="fa fa-sign-in fa-lg"></i>Sign up!
          <% end -%>
        </li> -->
        <% end -%>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>